<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="wrapper1" class="col col-6" tabindex="99" target="canvas1">
          <canvas id="canvas1" height="300px"></canvas>
        </div>
        <div id="wrapper2" class="col col-6" tabindex="100" target="canvas2">
          <canvas id="canvas2" height="300px"></canvas>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>

    <script>
      const copyHandler = (event) => {
        if (event.keyCode === 3 && event.ctrlKey) {
          //CTRL+C
          const canvasName = $(event.target).attr("target");
          const canvasObj = window[canvasName];
          const objs = canvasObj.getObjects();
          if (objs) {
            const objArray = [];
            objs.forEach((obj) => {
              const objectJSON = obj.toJSON();
              objArray.push(objectJSON);
            });

            const jsonString = JSON.stringify(objArray);
            navigator.clipboard.writeText(jsonString);
          } else {
            navigator.clipboard.writeText("");
          }
        }
      };

      const pasteHandler = async (event) => {
        if (event.keyCode === 22 && event.ctrlKey) {
          //CTRL+V
          try {
            const jsonString = await navigator.clipboard.readText();
            const objArray = JSON.parse(jsonString);
            const canvasName = $(event.target).attr("target");
            const canvasObj = window[canvasName];

            objArray.forEach((obj) => {
              switch (obj.type) {
                case "rect":
                  const rect = new fabric.Rect(obj);
                  canvasObj.add(rect);
                  //canvasObj.setActiveObject(rect);
                  break;
              }
            });
          } catch (e) {
            console.log(e);
          }
        }
      };
    </script>

    <script>
      const source = document.querySelector("#wrapper1");
      source.addEventListener("keypress", copyHandler);
      source.addEventListener("keypress", pasteHandler);

      const target = document.querySelector("#wrapper2");
      target.addEventListener("keypress", pasteHandler);
      target.addEventListener("keypress", copyHandler);
    </script>

    <script>
      var canvas1 = new fabric.Canvas("canvas1");

      var rect1 = new fabric.Rect({
        top: 100,
        left: 100,
        width: 60,
        height: 70,
        fill: "red",
      });

      var rect3 = new fabric.Rect({
        top: 0,
        left: 50,
        width: 60,
        height: 70,
        fill: "blue",
      });

      canvas1.add(rect1);

      canvas1.add(rect3);

      var canvas2 = new fabric.Canvas("canvas2");

      var rect2 = new fabric.Rect({
        top: 120,
        left: 140,
        width: 60,
        height: 70,
        fill: "green",
      });

      canvas2.add(rect2);
    </script>
  </body>
</html>
